<html lang="en">
    <!-- Head -->
    <%- include('./partials/head.ejs') %>
    
    <body>
         <!-- Nav -->
         <%- include('./partials/nav.ejs') %>

         <section class="page-not-found">
            <div class="container container-sm">
                <p class="text-md text-center">Page not found.</p>
            </div>
         </section>

         <!-- Footer -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>