<footer class="footer bg-light">
    <div class="container container-sm">
        <div>
            <p class="footer-heading">Links</p>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/offers">Offers</a></li>
                <li><a href="/sign-up">Become a QuickJobber</a></li>
            </ul>
        </div>

        <div>
            <p class="footer-heading">QuickJobs</p>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Join Our Team</a></li>
                <li><a href="#">Investor Relations</a></li>
            </ul>
        </div>

        <div>
            <p class="footer-heading">Get in Touch</p>
            <ul>
                <li><a href="mailto:service@quickjobs.com">service@quickjobs.com</a></li>
                <li>
                    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>